* {
    /* border: 1px solid black; */
    color: white;
    /* margin: 0 0 */
}

body {
    background-color: rgb(10, 114, 10);
}


/* dealer section */


/* Images */

#dealer>img {
    width: 35%;
}

#player>img {
    width: 50%;
}

button>img {
    width: 18%;
}

#playerCardSection>img,
#dealerCardSection>img {
    width: 15%;
}

button {
    color: black;
    background-color: rgb(10, 114, 10);
}

#hit,
#stand,
#wager,
#bet {
    background-color: grey;
}