// img {
//   width: 100%;
//   margin: 0;
// }

.dealerTable {
  display: flex;

  @media screen and (min-width: 600px) {
    width: 90%;

    .pokerCard {
      position: absolute;
      top: 38%;
      left: 30%;
      width: 7%;
    }
  }
}

.playArea {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  @media screen and (min-width: 600px) {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 100vh;
  }
}
// .dealer {
//   position: absolute;
//   top: 1px;
//   width: 25%;
//   margin-top: 2em;
//   margin-bottom: 0;
// }

// .bjTable {
//   margin-top: 6em;
//   height: 300px;
// }

.pokerCard {
  position: absolute;

  @for $i from 1 through 10 {
    $top: 25%;

    // top: if($reduce, $top -1, $top -1);
    top: if(min-width - 20px, calc(#{$i + $top -2}), calc(#{$i + $top -2}));
  }
  //   // $width: 20px;
  //   top: $i($top + size);
  //   // top: $width
  //   // top: ($i * $width) $top + 1%;
  //   // top: calc(#{$width+top}* 1%);
  // }
  left: 40%;
  width: 10%;
}
.userContainer {
  @media screen and (min-width: 600px) {
    width: 30%;
    flex-direction: column;
  }
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  background: grey;

  button:hover {
    cursor: pointer;
  }

  .playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.5em;
    width: 35%;

    p {
      margin-top: 1em;
    }

    img {
      width: 50%;
    }
  }

  .chipContainer {
    display: flex;
    gap: 1em;

    .grnChip {
      background: rgb(10, 134, 10);
    }

    .bluChip {
      background: blue;
    }

    .blkChip {
      background: black;

      p {
        font-size: 0.85em;
        margin: 0;
        padding: 1.3em;
      }
    }

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid black;
      height: 3.2em;
      width: 3.2em;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        border: 1px solid black;
        background: white;
        border-radius: 50%;
        height: 2.5em;
        width: 2.7em;
        font-size: 0.9em;
        font-weight: 700;
      }
    }
  }
}

.actionContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
